@media (min-width: 400px) {
    
.about_me_container {
    max-width: auto;
    color: #e8e3e3;
    background-color: #2b2a2a;
    font-size: 18px;
  
}

.headers {
    font-size: 46px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    color: #050404;
}

.about_pic {
    width: 350px;
    float: left;
    margin: 0 10px 100px 20px;
}



}