footer {
    background-color: #161616;
}

.info_container {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-gap: 20px;
    justify-content: center;
    margin-top: 50px;

}

.footer_items {
    max-width: 250px;
    border: 1px solid #ccc;
    border-radius: 2px;
    text-align: center;
    padding: 5px;
    color: #e8e3e3;
    margin-bottom: 100px;
}

.footer_items:hover {
    border-color: #babcc1;
}

.logo_img {
    margin: 10px;
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
    background: #afafaf;
}

.lds-facebook div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
    background: #353434;
}

@keyframes lds-facebook {
    0% {
        top: 6px;
        height: 51px;
    }
    50%,
    100% {
        top: 19px;
        height: 26px;
    }
}

h4 {
    padding-bottom: 20px;
}

.contact_list p {
    list-style: none;
    text-align: left;
    padding: 10px;

}

.address {
    width: 25px;
    height: 25px;
    margin-bottom: 3px;
}

.phone {
    width: 25px;
    height: 25px;
    margin-bottom: 3px;
}

.emails {
    width: 25px;
    height: 25px;
    margin-bottom: 3px;
}

.social_media {
    text-align: center;
    margin-bottom: 20px;
}

.fa {
    display: inline-block;
    padding: 10px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    border-radius: 50%;
    border: 1px solid;
}

.fa:hover {
    opacity: 0.7;
    color: #fff;
    text-decoration: none;
}

.fa-facebook {
    background: #161616;
    color: white;

}

.fa-twitter {
    background: #161616;
    color: white;
}

.fa-pinterest {
    background: #161616;
    color: white;
}

.fa-google {
    background: #161616;
    color: white;
}

#copyright {
    text-align: center;
    padding: 20px;
    color: #e8e3e3;
}

#copyright>a {
    color: #6b6767;
    text-decoration: none;
}

#copyright>a:hover {
    color: #d8d6d6;
    text-decoration: underline;
}


@media only screen and (min-width: 320px) and (max-width: 768px) {


    .info_container {
        grid-template-columns: 50%;

    }

    .footer_items {
        border-radius: 5px;
    }

}
