body {
    box-sizing: border-box;
    max-width: 1400px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


.nav_container {
    position: absolute;
    width: 100%;
    max-width: 1400px;
    z-index: 999;
    background: none;
    padding: 20px 20px 0;
}

.my_navbar .my_item {
    display: inline;
}
.nav_items {
    float: right;
}

.my_item .my_link {
    padding: 15px;
    text-decoration: none;
    color: #f4efef;
    margin: 2px;
    transition: .5s;
}

.my_item .my_link:hover {
    background-color: #232222;
    color: #ffffff;
    opacity: .8;
}

.logo {
    text-decoration: none;
    font-family: 'Monoton', cursive;
    font-size: 20px;
    color: #cecece;
    word-spacing: 10px;
    transition: .5s;
}

.logo:hover {
    text-decoration: none;
    color: #ffffff;
}

.fa-angle-double-left {
    margin-left: 5px;
}

@media only screen and (max-width: 1080px) {
.my_item .my_link {
    font-size: 80%; 
}
    
}

@media only screen and (max-width: 1000px) {
.my_navbar .my_item {
    display: block;
}

.nav_items {
    float: none;
    margin-top: 20px;
}

.my_navbar {
    padding: 0;
}

.my_item .my_link {
    padding: 10px;
}

.my_item {
    margin-bottom: 20px; 
}
    
}

@media only screen and (max-width: 768px) {
.my_item .my_link {
    font-size: 12px;
}

.my_item {
    margin-bottom: 10px;
}

.logo {
    font-size: 60%;
}

}

@media only screen and (max-width: 600px) {
.my_item .my_link {
    font-size: 60%;
}

.my_item {
    margin-bottom: 5px; 
}

.logo {
    font-size: 50%;
}

}

@media only screen and (max-width: 480px) {
.my_item .my_link {
    font-size: 50%;
    padding: 5px;
}

.my_item {
    margin-bottom: 0;
}

.logo {
    font-size: 40%;
}

}

@media only screen and (max-width: 400px) {
.my_item .my_link {
    font-size: 40%;
    padding: 5px;
}

.nav_items {
    margin-top: 5px;
}

.nav_container {
    padding: 5px;
}

.logo {
    font-size: 30%;
}

}

@media only screen and (min-width: 1000px) {
.visible_md {
    display: none;
}    
}