@media (min-width: 400px) {
    
body {
    max-width: 1349px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: grid;
    max-width: auto;
    margin: 0;
    padding: 0;
    grid-template-rows: repeat(8fr);
}

.container {
   background-image: url(project_imgs/carousel_logo.jpeg);
   position: relative;
   height: 1000px;
   background-size: cover;
    
}

.nav_btns {
    
    float: right;
    margin: 30px 15px;
}

.nav_btns > a {
    padding: 15px;
    text-decoration: none;
    color: #edeff2;
    
}
}



