@media (min-width: 400px) {

.portfolio {
    background-color:#eae5e1;
    
}   

.portfolio_img {
    background-image: url(portfolio/collage.jpg);
    background-repeat: no-repeat;
    background-size: 1349px;
    height: 1349px;
}
    
}