@media (min-width: 400px) {
    

.pricing {
    background-color: #ffffff;
    
}

.pricing_container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-gap: 20px;
    align-content: center;
    justify-content: space-evenly;
    margin: auto;
}

.packages {
    border: none;
    border-radius: 3px;
    height: 400px;
    padding: 10px;
    text-align: center;
    color: #442f1a;
    margin-top: 20px;
    background-color: #bbceed;
}

.packages > h3 {
    margin-bottom: 60px;
}

.description > li {
    margin-bottom: 30px;
    text-decoration: underline;
}

.price {
    margin-top: 60px;
    font-size: 50px;
}

}

