@media (min-width: 400px) {

    .services {
        max-width: auto;
        background-color: #686363;
    }

    .services_wrapper {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-gap: 20px;
        align-content: center;
        margin: 0 50px 120px 50px;


    }

    .items {

        border-radius: 3px;
        height: 220px;
        padding: 10px;
        text-align: justify;
        color: #442f1a;
        background-color: #fcfffd;
    }

    h3 {
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        color: #261504;
        
    }

    .description {
        list-style-type: none;
        margin-right: 45px;
    }


}
