
    .services {
        max-width: auto;
        background-color: #303030;
    }

    .services_wrapper {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-gap: 20px;
        justify-content: center;
        padding-bottom: 100px;
    }

    .items {
        padding: 10px;
        text-align: justify;
        color: #442f1a;
        background-color: #fcfffd;
    }

    h3 {
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        color: #261504;

    }

    .description {
        list-style-type: none;
        margin-right: 45px;
    }


@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .services_wrapper {
        grid-template-columns: 45% 45%;
    }

    }

@media only screen and (min-width : 320px) and (max-width : 768px) {
    
    .services_wrapper {
        grid-template-columns: 90%;
    }
}